*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(197, 197, 253);
}
.container{
    max-width: 900px;
    margin:0 auto;

}
.applybox{
    max-width: 600px;
    padding: 20px;
    background-color:white ;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgb(3, 3, 3);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, ninnax(200px,ifr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction:column ;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input,
select,
textarea{
    padding: 6px 10px ;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: size 15px; ;
}

input:focus{
    outline-color: red;
}
.button_container{
    display: flex;


    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: #ccc;
    border: 20px solid red;
    color: black;
    transition: 0.3s ease-out;
}